<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section
  *ngIf="isLoaded; else isNotLoaded"
  class="section"
>
  <div class="row">
    <hb-add-event></hb-add-event>
    <hb-add-category (categoryAdd)="newCategoryAdded($event)"></hb-add-category>
  </div>
  <div class="row">
    <hb-edit-category
      [categories]="categories"
      (categoryEdit)="onCategoryEdit($event)"
    ></hb-edit-category>
  </div>
</section>
<ng-template #isNotLoaded>Loading...</ng-template>
