<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<div *ngIf="isLoaded; else isNotLoaded">
  <hb-history-chart [data]="chartData"></hb-history-chart>

  <hb-history-events
    [categories]="categories"
    [categoryEvents]="filteredEvents"
  ></hb-history-events>

  <div *ngIf="isFilterVisible">
    <hb-history-filter
      (filterCancel)="onFilterCancel()"
      (filterApply)="onFilterApply($event)"
      [categories]="categories"
    ></hb-history-filter>
  </div>
</div>
<ng-template #isNotLoaded class="row text-center"><hb-loader></hb-loader></ng-template>



